#buttonAddNew{
    background-color: #ffff24;
    border-radius: 10px;
}
#inputs{
    margin-left: 1rem;
    background-color: #5d3e77;
    border-radius: 5px;
}
#buttonAdd{
    float: left;
    background-color: #94c4ee;
    border-radius: 10px;
}
#buttonCancel{
    float: right;
    background-color: #ff5961;
    border-radius: 10px;
}
#th2rem{
    width: 2rem;
}
#th8rem{
    width: 8rem;
}
#contenedor{
    display: flex;
    justify-content: center;
}
#fondito{
    background-color: rgb(4, 4, 4);
    height: 100vh;
}
.foto{
    width: 200px;
    height: 100px;
}